[2013-02-27 15:35] mattheath opened #1 "Launching a new FPM pool doesn't refresh the FPM service"
When a new `php::fpm::pool` is created the main `php::fpm::service` for that version of php is not refreshed. As a result the new pool config is not picked up, and no workers are launched.

If the `php::fpm::pool` is set to notify the version of `php::fpm::service`, then a cyclic dependency for each pool occurs:

[code]

[code]

I'm guessing some of the core logic will need to be changed to fix th

[2013-02-28 15:09] mattheath opened #2 "Removing last usage of a php fpm pool doesn't cleanly remove php"
Due to the config file purging, removing the last instance of a php fpm pool for a given version of php, which does not have that version required elsewhere, removes all of the php versions config. This causes the php version to no longer be configured, and the fpm service for that version to fail on start.

The behaviour is partly correct - the version of php should be removed if it's no longer r

[2013-03-02 10:59] kanedo opened #3 "Error: Could not set 'present' on ensure Failed running /opt/boxen/homebrew/bin/brew boxen-latest homebrew/dupes/zlib"
I tried to install this puppet but it failed. With following error message

[code]

I solved this by running

[code]

[2013-03-02 16:57] #3 closed, assigned to nobody

[2013-03-02 17:02] mattheath commented on #3
@kanedo This should now be fixed, thanks for reporting!

[2013-03-03 10:32] kanedo opened #4 "php 5.4.10 won't build"
Sorry to bother but I got an build error. I added the folowing line to my project manifest
`php::version { '5.4.10': }` and run boxen again and got this:

Running on `magratea.fritz.box` (OS X 10.8.2) under `/bin/bash`,
### Puppet Command

[code]
### Output (from /opt/boxen/repo/log/boxen.log)

[code]

Can you help me with this?

[2013-03-03 11:33] mattheath commented on #4
It looks like libpng is missing, i'll try to reproduce. I'm using 5.4.10, but possible i've unintentionally tweaked something.

[2013-03-03 13:12] mattheath commented on #4
I've switched the dependencies to ensure they're installed before phpenv is, and retagged as `0.1.1`. This does now require the `autoconf` puppet module. Could you give it another go?

Also is libpng installed if you run `brew list`?

[2013-03-03 13:21] kanedo commented on #4
Ok I tried it again. I still got this error. This is the issue boxen created:

### Output (from /opt/boxen/repo/log/boxen.log)

[code]

And here is the output of `brew list` and `libpng` seems to be installed:

[code]

[2013-03-03 22:17] mattheath commented on #4
Ok, the version bump has meant it's picking up the correct config directory for libpng and the latest changes which is good, however I'm finding it hard to reproduce.

You should have a symlink within your boxen/homebrew/opt directory linking to a libpng version (eg 1.5.13):

[code]

Then within /opt/boxen/homebrew/Cellar/libpng/1.5.13 you should have the following files:

[code]

Do you have thes

[2013-03-03 22:39] kanedo commented on #4
I do have the symlink from `/opt/boxen/homebrew/opt/libpng -> ../Cellar/libpng/1.5.13` and this folder looks like this

[code]

But it still says that the `png.h`is not found.

Thanks for trying to help me, though!

[2013-03-04 03:31] mattheath opened #5 "Problem building 5.3.20"
Error when building 5.3.20:

[code]

Appears to be a dependency on libtool, which is not currently a requirement.

Full error:

[code]

[2013-03-04 10:22] kanedo commented on #4
I tried it with PHP Version 5.3.20 - same error. I just wanted to make sure, the error is not the version

[2013-03-04 22:52] mattheath commented on #5
This stil occasionally appears even with libtool installed. Clearing the /vat/tmp/php-build folder appears to resolve

[2013-03-05 02:05] mattheath commented on #4
Thanks for checking, i'm certain this is a problem with `libpng` and the library include path. It's possible a clean install might fix - I'll try on a clean machine as soon as i can.

[2013-03-05 10:25] kanedo commented on #4
Well I installed boxen after I did a clean install (for fusion drive) so it is pretty much a clean mac.

Should I try to compile php just with home-brew? And if so, which command should I use.
Im not sure, because you're using phpenv (which I've never used before) and I doubt a `brew install php54` is the right command to investigate the problems.

[2013-03-05 13:33] mattheath commented on #4
I also can't now compile 5.3.18, and am having inconsistent problems with other versions - I think the solution is to bin php-build which is used to compile php and switch to using some custom brews.

The difference is that homebrew only installs one version of php, and will install it into the homebrew folder, this won't work with phpenv which allows multiple versions to be installed in parallel.

[2013-03-05 22:00] stovak commented on #4
Also experiencing the libpng issue installing 5.4.10.

-t

[2013-03-05 22:00] stovak commented on #4
FYI: Log file:

configure: error: png.h not found

[2013-03-05 23:47] stovak commented on #4
so, looking at this issue: https://github.com/mxcl/homebrew/issues/13707

I reinstalled libpng using the --universal as the fix suggests. Now the location of the missing header file is:
/opt/boxen/homebrew/Cellar/libpng/1.5.13/include/png.h and correctly linked in /opt/boxen/homebrew/opt/libpng

No idea why it's not finding the file.

[2013-03-11 00:26] mattheath commented on #5
Fixed by version `0.2.0` - php-build is now removed and a custom type and provider are used instead.

[2013-03-11 00:26] #5 closed, assigned to nobody

[2013-03-11 00:31] mattheath commented on #4
@kanedo @stovak I've rebuilt this module using a custom provider and retagged as `0.2.0`, could you give this a go and see if it fixes the problem? You'll see a lot of output from boxen for the moment as the entire configure and make process output will be redirected to the console.

If you just want php installed, then you can use one of the pre-defined classes. This means it can be included mult

[2013-03-11 00:39] mattheath opened #6 "PHP Extensions"
Need a way to manage compiled php extensions. homebrew-php has a huge number cataloged, but these would be difficult to port over as I want to support multiple versions of PHP (eg. multiple minor versions of 5.4). Currently experimenting with a custom type along the same vein as the ruby module's rubygem provider in the extensions branch.

The current solution will mean that an extension would hav

[2013-03-12 09:46] mattheath commented on #6
Custom type merged in for `0.3.0`. Currently the syntax below is used. I've added a few extensions from pecl, but either need to go through and add all of them, or refactor sufficiently that a generic solution can be achieved without manually defining them all.

[code]

[2013-03-14 21:39] mattheath opened #7 "Zeromq extension doesn't build"
Missing a dependency on `pkgconfig`

[2013-03-14 21:39] mattheath commented on #7
Fixed by 96b61d96ab7ad9e33491dd2b7801d018ea4144b9

[2013-03-14 21:39] #7 closed, assigned to nobody

[2013-03-14 21:41] mattheath commented on #7
Fixed version tagged as `0.3.5`

[2013-03-15 07:48] boztek opened #8 "First time builds failing"
Clean machine + default boxen type project.
Latest puppet-php

[code]

This fails with:

[code]

Retrying with a difference version number then succeeds.

This is a pattern - some times it will complete first time with no errors but /versions will be empty but again switching to a different version (any version) works on the second attempt.

Strange one.

[2013-03-15 10:25] mattheath commented on #8
Apologies for this, the `module` folder definition within each version didn't have a reliance on the php version being installed first. It's fixed in f8bbb4fd8fae728423aff464ee5ce6987a3c1ec5, and the latest version `0.3.5`. @boztek could you let me know it that fixes it?

[2013-03-15 16:16] nickygerritsen opened #9 "Getting "Could not find class php::" when loading"
I get the following error:

[code]

With the following config:

[code]

What am I doing wrong?

[2013-03-15 17:15] mattheath commented on #9
@nickygerritsen have you defined `$version` ? If you haven't then it'll be null which explains the problem above.

You should change your APC definition from this

[code]

to this:

[code]

Also you can remove `require php::5-4-10` as both your `php::global` and `php::fpm::5-4-10` will ensure that php 5.4.10 is installed.

Let me know how you get on! :smile:

[2013-03-15 21:26] mattheath opened #10 "Zeromq extension can't be used by more that one version of PHP"
This causes a resource conflict with the source code repository cache as the same resource is defined multiple times.

Likely an issue with any extension that uses the git provider as the provider depends on a cloned repository which will be defined using the `repository` type within the extension class.

[2013-03-16 11:14] nickygerritsen commented on #9
This seems to work, but now it is giving this error:

[code]

It seems I'm missing libintl? Is that the problem why the makefile can not be found?

[2013-03-16 12:22] boztek commented on #8
I think so but now I'm getting different errors related to PEAR.

[code]

I opened a new issue at #11.

[2013-03-16 12:25] boztek opened #11 "Could not evaluate: Could not find command '/opt/boxen/phpenv/versions/5.3.18/bin/pear"
Install is failing when setting php::global to a variety of 5.3 versions.

Tried a clean boxen install that succeeded then added php::global and failed.

[code]

[2013-03-16 18:18] kanedo commented on #4
@mattheath I'm sorry that it took me so long. I tested it, but now I get the error
`Error: Could not find class libtool for magratea.fritz.box on node magratea.fritz.box`

I checked `brew list` and it is installed.
Thanks for helping!

[2013-03-16 18:36] mattheath commented on #4
@kanedo `puppet-libtool` is a required puppet module dependency in boxen, rather than just in brew. The end result is pretty much the same, but it's likely what's causing the error as it's a puppet style error, rather than a build error.

Are you using the latest version (`0.3.6`)?
Could you check you have the required boxen puppet modules? They're currently: `wget`, `autoconf`, `libtool` and `pkg

[2013-03-16 19:31] kanedo commented on #4
That did it. Thank you.
But I had to run boxen without PHP but with the updated dependencies once before it worked.

[2013-03-16 19:31] #4 closed, assigned to nobody

[2013-03-17 11:55] mattheath commented on #11
@boztek Not entirely sure what's happening here - it implies that following compilation of PHP there is no PEAR binary present within that PHP version folder. Does `/opt/boxen/phpenv/versions/5.3.18/bin/pear` exist? What other binaries are contained in the `/opt/boxen/phpenv/versions/5.3.18/bin` folder?

The global class shouldn't affect anything - all this does is require the applicable php::vers

[2013-03-17 12:08] mattheath commented on #11
@boztek Had a thought - this may be a bug in the PHP provider. The provider determines that a version of PHP exists if the version folder is present - in this case `/opt/boxen/phpenv/versions/5.3.18`. Using the following:

[code]

However, this means that if the compilation or installation failed for 5.3.18 but the folder was still created then Puppet would assume it was successful, and continue w

[2013-03-17 12:26] mattheath commented on #11
Yeah this is definitely the issue - a failed build doesn't report an error, and the next step (setting PEAR config settings) then fails. Should have a fix in a couple of hours.

[2013-03-17 14:42] boztek commented on #11
Thanks - yeah to be clear these tests all nuked boxen between runs so no /opt/boxen/phpenv to dirty things.

[2013-03-17 15:26] mattheath commented on #11
Turns out that I hadn't listed PCRE as a dependency which causes PHP to build without building PEAR. The PEAR config tasks that follow immediately after then fail as PEAR wasn't compiled.

I've tagged the above fix as `0.3.7` which should fix this specific problem, you just need to add the `pcre` module to your Puppetfile. I've got a few fixes for the PHP provider which I'll log against #8 which s

[2013-03-17 15:34] mattheath commented on #9
From a cursory google search this looks related to gettext. Which version of the PHP module are you using?

Also, does `brew list` show gettext as installed?

[2013-03-17 15:40] mattheath commented on #9
Just to confirm - I can reproduce this by removing the `pkgconfig` boxen module from my Puppetfile - it's a dependency since `0.3.5`.

If you bump your PHP module version to `0.3.7` and check that your Puppetfile contains the following lines (along with the other dependencies in the readme), this should fix the issue:

[code]

[2013-03-17 16:41] boztek commented on #11
Still having the same issue.
nuke'd re-install, 0.3.7 puppet-php w/puppet-pcre included in Puppetfile.

[2013-03-17 17:13] nickygerritsen commented on #9
OK what I have found out: if I start my boxen "from scratch" (i.e. rm -Rf /opt/boxen) then it does not work (with the above error).
However, when I first "boxen" everything except PHP and afterwards add php to site.pp it works ok.
So something seems to be wrong in the dependency-flow?

[2013-03-17 17:21] boztek commented on #11
Looks like build fails until you switch to a new term and then build a different version (which should work if never built before and remove previous version) and then switch back.

e.g.
1. nuke and reinstall 5.3.20 fails to build php and still has the pear error
2. new terminal to source env.sh
3. change version to say 5.3.18 and build should work and remove 5.3.20
4. change version back to .20 a

[2013-03-17 17:25] boztek commented on #11
Actually the removes don't seem to work at all - if build fails (trying to build w/o sourcing env.sh in a new term) then it's bad forever. Other versions will build though.

[2013-03-17 17:28] boztek commented on #11
Cleaning out /opt/boxen/phpenv/versions/${broken_version} which seems to just have an empty modules dir seems to get it back on track.

[2013-03-17 19:30] mattheath commented on #11
Yeah there is no automated way to remove an unmanaged version of PHP. You can explicitly remove a version by ensuring it is absent like this:

[code]

The module will currently remove the _config files_ for an unmanaged version as otherwise unmanaged files could screw up FPM instances.

I've been refactoring the PHP provider this afternoon, should have something by tomorrow which will clean up par

[2013-03-18 01:30] boztek commented on #11
Happy to keep testing for you - would also like to get some testing and docs around getting nginx tied together in a project module as there seem to be some problems there too.

I still think that phpenv is the best approach once the kinks are worked out.

[2013-03-18 21:07] mattheath commented on #11
Thank you so much for all your help @boztek. You're right - there are a number of places where the providers don't fully qualify paths to the installed homebrew packages. The result being that the depend on the environment, and only work after an install and sourcing the environment so add boxen's homebrew to the path. I should have a fix this evening! This will also clear out previously failed bu

[2013-03-18 21:08] mattheath commented on #9
Yeah it looks like the dependencies weren't in the correct order and some of the paths weren't fully qualified. Sorry about this, should have a fix this evening.

[2013-03-18 23:05] mattheath commented on #11
Bumped the version to `0.3.8`, which I'm hoping will finally solve some of these issues.

Firstly, this will remove failed builds - which means version folders without specific binaries in the `/opt/boxen/phpenv/versions/${broken_version}/bin` folder (php, phpize, php-config, pear etc) will be removed, and then reinstalled as they're not present.

I've also fixed up the path issues, so all of the

[2013-03-18 23:08] mattheath commented on #9
I've bumped the module version to `0.3.8` which should fix the dependency ordering issues, and also making the paths for the executables used fully qualified. It's this part which explains the module working on the 2nd+ passes, but not the first.

@nickygerritsen I've tested it several times from a clean install and it appars to work, could you let me know how you get on?

[2013-03-19 12:57] boztek commented on #11
That's great, thanks!

Now both clean installs and extra installs are building reliably. Happy to help with the docs as soon as I work out how to get projects to wrap a particular version. Almost have it worked out; any example project code will be a huge help.

[2013-03-19 12:58] boztek commented on #8
I think we can close this issue now.

[2013-03-19 13:07] boztek commented on #11
Actually per-project versions do seem to be working rather well - just need to tweak the nginx templates a bit for each application it seems.

Awesome stuff.

[2013-03-19 15:47] mattheath commented on #11
Great! I've added a `php::project` type which is similar to boxen's project type - just with added PHP parts. I've also documented this in the readme. Thanks for testing, I'll close this & #8 now.

[2013-03-19 15:47] #11 closed, assigned to mattheath

[2013-03-19 15:48] #8 closed, assigned to nobody

[2013-03-19 18:23] mattheath opened #13 "icu4c and zlib homebrew modules reinstalled on each boxen run"
Both the icu4c and zlib homebrew modules seem to be reinstalled on every boxen run. The output log shows this:

[code]

[2013-03-20 00:16] boztek commented on #13
These are all keg only packages.

[2013-03-20 02:50] boztek opened #14 "Creating new project specific pool does not refresh PHP-FPM"
I can happily use either boxen::project and manually declare a project specific pool or use php::project - both with a custom nginx template for some app specifics.

In either case I seem to have to kill php-fpm and rerun boxen for everything to work.

[2013-03-20 09:01] mattheath commented on #14
Yeah this is similar to #1. It's caused by the `php::fpm::pool` class _requiring_ the `php::fpm` class which includes the service. As the entire class is required, the service can't be notified - it creates a dependency loop.

I think I've worked out a fix which requires changing part of the dependency chain, will have another look later today. For the moment you can use the following to slightly

[2013-03-20 09:07] mattheath commented on #13
Hmmm, guessing there's a separate boxen issue floating around somewhere - I would have expected the homebrew package provider to not repeatedly reinstall keg only packages.

[2013-03-20 11:13] nickygerritsen commented on #9
OK clean install works fine now. However there is still a problem:
When I run "boxen" again (even without changing anything) it tries to fetch "php-src" again and then errors because the directory already exists. I guess something goes wrong in marking "php-src" as installed?

[2013-03-20 11:36] mattheath commented on #9
Fantastic. That's quite interesting as the `php-src` folder is defined by boxen's repository type rather than any custom code. Is there a `.git` folder present within `/opt/boxen/phpenv/php-src`? Could you paste some logs of the error?

[2013-03-20 11:45] nickygerritsen commented on #9
No there is .git directory, but there is one a level higher:

[code]

The log file can be found at: https://gist.github.com/nickygerritsen/5204036

[2013-03-20 12:34] mattheath commented on #9
Ok these two lines are the important part:

[code]

You seem to have something in the php-src folder, but not a git repository. I'm surprised it'll actually build PHP with this failing as the repository is a dependency of the `php::version` class. Deleting that folder should fix the problem, it'll then recreate it. I don't know how it got into that state though.

[2013-03-20 12:44] nickygerritsen commented on #9
OK will try this tonight when I'm at my iMac.
The php-src directory does contain the PHP source files btw, but only not a git repository.

[2013-03-20 13:01] mattheath commented on #9
Interesting, I think this must be from an earlier version of the module which phpenv/php-build cached the source code. php-build has been replaced now by custom providers and I thought this was a backwards compatible change with the correct tasks to clean anything up - will check this.

[2013-03-20 17:25] nickygerritsen commented on #9
Indeed after removing the directory it seems to work. I have no clue how the .git directory was not there....

[2013-03-20 17:41] mattheath commented on #9
Fantastic. Everything working correctly now?

[2013-03-20 17:42] nickygerritsen commented on #9
Yep seems to have no problems anymore :)

[2013-03-20 17:43] mattheath commented on #9
Great, will close this off. Thanks for testing! :+1:

[2013-03-20 17:43] #9 closed, assigned to nobody

[2013-03-20 22:52] mattheath commented on #1
Fixed by #15

[2013-03-20 22:52] #1 closed, assigned to nobody

[2013-03-20 22:57] mattheath commented on #14
I've merged this, and retagged as `0.4.2`. Pool config files now notify the FPM service for the PHP version, which should trigger a refresh of the service. @boztek could you let me know if it works for you?

[2013-03-21 00:46] mattheath commented on #6
Added a git provider to complement the pecl provider - this compiles an extension from a cached git repo. An example is the zmq extension.

Another issue with the current management method is that a php service won't be refreshed if an extension is added or changed.

[2013-03-21 13:40] enthooz opened #16 "Unable to build PHP 5.3.2 or 5.3.3"
I'm unable to build PHP 5.3.2 or 5.3.3, resulting in the following error (the remaining error messages show below):

[code]
### Environment
- Mid 2009 MacBook Pro
- Relatively fresh Mountain Lion install (2 days old)
- 2.8 GHz Intel Core 2 Duo
- 8 GB 1067 MHz DDR3 (after market, IIRC)
- Xcode 4.6.1, Build version 4H512
### Steps taken to install

Add the following to Puppetfile:

[code]

Create a

[2013-03-21 13:48] enthooz commented on #16
This may be related: https://bugs.php.net/bug.php?id=51821

[2013-03-22 00:18] mattheath commented on #16
Looks like installing libevent via homebrew, then adding the configure option `--with-libevent-dir=/opt/boxen/homebrew/opt/libevent` seems to fix `5.3.3`. Just testing `5.3.2` then will push up a fix. Thanks for the awesome bug report btw! :thumbsup:

[2013-03-22 01:20] enthooz commented on #16
Rad, dude.  Pulling down and testing with this change now.

[2013-03-22 01:37] mattheath opened #17 "Add FPM support for <5.3.3"
FPM was only included with PHP from version 5.3.3 onwards. As raised in #16 the default configure options which included FPM caused compilation of 5.3.2 to fail, so FPM support was removed for this version of PHP.

Ideally FPM support would be added for 5.3.2 as otherwise this version cannot be used in projects which use FPM & Nginx.

[2013-03-22 01:41] enthooz commented on #16
It looked like everything was going fine until...

[code]

This happened right after:

[code]

[2013-03-22 02:06] mattheath commented on #16
So it appears that `5.3.3` builds on my machine, but creates the php cli binary as `php.dSYM` rather than `php`, and `php-fpm.dSYM` instead of `php-fpm` . As a result the existence check fails (it's checking for `php` and `php-fpm` amongst others) and the provider rolls back removing the install.

[2013-03-22 02:10] mattheath commented on #16
Related: CHH/php-build#78

[2013-03-22 02:11] mattheath commented on #16
And php/php-src#135

[2013-03-22 13:30] enthooz commented on #16
Your pull request got me up and running.  Though, I haven't tried compiling 5.3.2 as I need the fpm support.

[2013-03-22 13:30] #16 closed, assigned to nobody

[2013-03-28 22:46] SocalNick opened #20 "FPM for 5.3.20 and 5.3.23"
Filing this as a placeholder for us to hack on it tomorrow.

I tried changing my project to use 5.3.20. When I ran boxen, it compiled PHP 5.3.20 successfully, however, towards the end of the boxen script I got:

Error: Execution of '/bin/launchctl start dev.php-fpm.5.3.20' returned 1: launchctl start error: Bad file descriptor

Error: /Stage[main]/Php::Fpm::5_3_20/Php::Fpm[5.3.20]/Php::Fpm::Servic

[2013-04-01 20:46] SocalNick opened #21 "Error: No available formula for zlib"
This was working fine last week, but just started emitting this error.

Error: No available formula for zlib
Error: Could not set 'present' on ensure: undefined method `strip' for nil:NilClass at 76:/opt/boxen/repo/shared/php/manifests/init.pp
Error: Could not set 'present' on ensure: undefined method`strip' for nil:NilClass at 76:/opt/boxen/repo/shared/php/manifests/init.pp
Wrapped exception:
und

[2013-04-01 21:41] SocalNick commented on #21
Also:

[code]

[2013-04-03 00:24] mattheath commented on #21
I'm also experiencing the same problem. At a guess it's an upstream homebrew change, but should be able to dig into it in the next couple of days.

[2013-04-03 13:52] awirick commented on #21
Agreed that it looks like an upstream change. just got some newly wiped machines and saw this today for the first time. Wasn't happening as of 5/6 days ago.

Thanks for your work so far @mattheath!

[2013-04-08 14:55] webflo commented on #20
Here is fix for this issue. https://github.com/dicrew/puppet-php/commit/f43bd15cf4e5b3b91bb6b8a211e4641b92684593

[2013-04-08 15:23] mattheath commented on #20
Thanks @webflo will push this up today

[2013-04-08 22:22] mattheath commented on #20
Fixed in `0.5.1`, @SocalNick could you confirm this?

[2013-04-08 22:29] mattheath commented on #21
Partially fixed in `0.5.1`. This installs a custom zlib brew as `zlibphp` which the php module uses. This seems to be the only solution for the moment as it appears even creating a separate module ([mattheath/puppet-zlib](https://github.com/mattheath/puppet-zlib)) doesn't resolve this - boxen's version of homebrew currently won't import a formula called `zlib`.

Unfortunately previously installed

[2013-04-08 22:37] awirick commented on #21
confirmed working for me with fresh install as of 0.5.1b1. Thanks!

[2013-04-08 22:40] mattheath commented on #21
Awesome, thanks @awirick. You might want to retag with the final `0.5.1` tag which is actually the latest one, sorry for any confusion!

[2013-04-13 09:23] mattheath commented on #21
Going to close this, please reopen if there are any issues.

[2013-04-13 09:23] #21 closed, assigned to nobody

[2013-04-18 23:30] xavierfuentes opened #23 "cloning a private non-github repo"
Sorry if i'm saying something stupid, but i really can't find how to clone a, for example, bitbucket repo where my php project is... is it possible? thanks in advance.

[2013-04-19 23:57] mattheath commented on #23
@xavifuefer the repository type which is used does allow you to specify a full url to a remote repository. For a Bitbucket repository you'll need the full https URL as short urls (as given in the example) are only supported for github repositories.

The source parameter on the `php::project` type is passed straight through to the repository puppet type, so you should be able to change the source p

[2013-04-19 23:58] mattheath commented on #20
Pretty certain this is fixed, closing.

[2013-04-19 23:58] #20 closed, assigned to nobody

[2013-04-20 00:39] xavierfuentes commented on #23
did you tried with a private one? Boxen somehow should ask you for the repo password, shouldn't it? if I try just putting the bitbucket source, throws an error like "could not read Password for 'https://...': Device not configured"

El 20/04/2013, a las 01:57, Matt Heath notifications@github.com escribió:

[2013-04-20 09:28] mattheath commented on #23
Yes this was with a private repository - I tried with two different ones - and I didn't have to enter my password. However, in order to push code up to Bitbucket I had to enter my password a single time (for a _different_ repository) which was likely then cached in Boxen's git credential helper.

Can you try using the `repository` type to confirm if the behaviour is caused by this:

[code]

I'd su

[2013-04-30 19:56] eseceve opened #28 "Only show index.php and Access denied"
Only show index.php but i fixed changing SCRIPT_FILENAME and adding fastcgi_index in my site configuration.

[code]

Now i can see http://jubila.dev/index.php and http://jubila.dev/foo.php.
But when call http://jubila.dev/some_file.css, .js or images nginx return a "Access denied".

[2013-05-01 00:19] eseceve commented on #28
Fixed with this

[code]

Use fastcgi only for .php files

[2013-05-01 12:42] mattheath commented on #23
Going to close this, as not an issue with the PHP module.

[2013-05-01 12:42] #23 closed, assigned to nobody

[2013-05-28 19:24] mattheath commented on #14
Closing this as I'm fairly certain it's fixed - let me know if this is still an issue.

[2013-05-28 19:24] #14 closed, assigned to nobody

[2013-05-30 00:38] mattheath commented on #13
Should be fixed by boxen/puppet-boxen#41

[2013-06-11 16:06] mattheath commented on #13
Fixed in version `2.3.2` of [boxen/puppet-boxen](https://github.com/boxen/puppet-boxen)

[2013-06-11 16:06] #13 closed, assigned to nobody

[2013-06-12 21:21] sullimander opened #31 "phpenv fails to install"
I am trying to use this plugin with version 0.5.6 and boxen 2.3.2, but when it gets to the phpenv install step it fails with the following message.

[code]

[2013-06-14 11:23] #6 closed, assigned to nobody

[2013-06-24 15:44] b00gizm opened #32 "Best strategy for handling custom php.ini files?"
Is there a way to import a custom php.ini file instead of the default one?

I found a more or less decent workaround for my virtual hosts, by providing all custom settings as FastCGI params, but that does not apply to the CLI.

I thought about an additional *.ini file to parse the missing settings from, but this seems to me like a dirty hack.

So what is the "official way" to handle custom php.ini

[2013-06-25 22:55] mattheath commented on #32
@b00giZm Currently there is no _official_ way to set a custom .ini file unfortunately, though I would welcome suggestions. The problem stems from PHP only allowing a single `php.ini` file (or a set) to be parsed for a specific version of PHP, so per project settings are not possible.

The PHP project manifest then allows a version of PHP to be defined per project, which then includes the appropria

[2013-06-25 22:57] mattheath commented on #31
@skisulli apologies for the delay, this isn't a bug i've seen before but I can see how it would happen. Will try to push up a fix in the next couple of days!

[2013-06-26 14:03] b00gizm commented on #32
@mattheath I wouldn't say that a per-project php.ini is necessary for now. It would be sufficient to have control over the php.ini for a specific PHP version. It's not a totally satisfying solution, but that's due to PHP's own limitations concerning the php.ini. But yeah, at least it's something ;)

[2013-06-27 01:11] mattheath commented on #32
Yeah PHP is never going to allow per project .ini files, what I meant was that allowing a custom .ini file will mean PHP will have to be declared at a higher level - eg. `site.pp` or in a custom class within your boxen. With the current module layout it won't be possible to use the PHP project class at all.

[2013-06-27 10:21] b00gizm commented on #32
That's what I'm talking about :)

Declaring the php.ini at a higher level would be sufficient. What about:

[code]

You could still use the shorthand `include php::version { '5.4.10' }`, but also add the path to a custom php.ini.

[2013-06-27 16:33] sullimander commented on #31
Thanks, I look forward to being able to use phpenv!

[2013-07-15 20:31] b00gizm commented on #32
Any progress on that? :)

[2013-07-17 23:41] mattheath commented on #32
Sorry, I've not had a chance to look - pull requests welcome! ;)

[2013-07-23 14:44] EugenMayer commented on #32
i worked on that  and implemented it here https://github.com/EugenMayer/puppet-php/commit/3ed20dae3576f78b051904352e6004de81efb29d .. but still that wont help, as i stumbled uppon.

There is no way to deploy your own php::version {'own 5.3.23': phpini_template=> "...."} since you would get a dublicate error.

In addition, php::version is wrapped by php_XXXX classes and you need to proxy pass those

[2013-07-25 16:29] nomasprime opened #41 "Set MySQL default socket to BOXEN_MYSQL_SOCKET"
Looked through some code but can't see how this is specified.

[2013-07-25 20:47] mattheath commented on #41
It's in the `php.ini` file which each php version is given a copy of. It's not set, so it should fall back to the PHP default:

_pdo_mysql_: https://github.com/mattheath/puppet-php/blob/master/templates/php.ini.erb#L1013
_mysql_: https://github.com/mattheath/puppet-php/blob/master/templates/php.ini.erb#L1167
_mysqli_: https://github.com/mattheath/puppet-php/blob/master/templates/php.ini.erb#L1226

[2013-07-25 22:05] nomasprime commented on #41
@mattheath unless I'm missing something, couldn't we just inject BOXEN_MYSQL_SOCKET?

[2013-07-29 14:03] mattheath commented on #41
Yeah, fair point. This should probably be changed.

[2013-08-08 11:31] mattheath commented on #41
Fixed in boxen/puppet-php#10

[2013-08-08 11:31] #41 closed, assigned to nobody

[2013-12-03 13:25] nomasprime opened #46 "Error while configuring PHP 5.4.17"
I've pretty much had to rebuild my boxen after upgrading to Mavericks. Everything seems to be working apart from PHP. I get the following output in debug mode:

[code]

Outside of boxen I get:

[code]

[2013-12-03 13:53] miogalang commented on #46
+1 same issue for me.

[2013-12-03 14:54] nomasprime commented on #46
I'm thinking this is related to https://bugs.php.net/bug.php?id=66198

[2013-12-03 15:01] nomasprime commented on #46
Yep, compiles fine without gd.

[2013-12-03 15:14] miogalang commented on #46
@habitullence sorry for the noob question but how do i compile it without gd?

[2013-12-03 15:18] nomasprime commented on #46
@miogalang I'll fix up my fork and then you can use that in your Puppetfile. Will submit pull request here so you can switch back later down the road when changes are merged in. Give me 10 mins to validate my changes...

[2013-12-03 15:19] miogalang commented on #46
@habitullence Thanks a lot! you are awesome!!

[2013-12-03 16:41] nomasprime commented on #46
@miogalang no, you're awesome ;) Best I can do for now is drop GD, use my fork for now https://github.com/habitullence/puppet-php

[2013-12-03 16:43] miogalang commented on #46
@habitullence thanks!

[2013-12-03 17:13] nomasprime commented on #46
@miogalang np. I realised just now, a better temp fix could be to stick with officical boxen module, go to /opt/boxen/homebrew/Library/Forumla, git checkout 0e450f2 freetype.rb, and re-run boxen. I'll leave my changes but probably revert them in future.

[2013-12-04 13:03] miogalang commented on #46
For people who want the solution of using an older version of freetype instead of skipping gd. This is what I used.

[code]

and then re run homebrew

[2013-12-04 13:36] mattheath commented on #46
@habitullence so presumably this works for versions of freetype <= `2.5.0.1`?

Freetype is installed as a package via Homebrew, and they bumped to `2.5.1` a week ago: https://github.com/mxcl/homebrew/commit/129ebdcc5ac7c0f1cad50376caaacedc75653f53

I'm not sure removing GD is the proper solution, so unless there is a way to build PHP with `2.5.1` I'll have to try and install a sandboxed version of

[2013-12-04 13:40] nomasprime commented on #46
@mattheath looks like current GD doesn't compile with freetype 2.5, see https://bugs.php.net/bug.php?id=66198. Suggest defaulting to 2.4.11 (git ref 0e450f2).

[2013-12-10 15:31] dbtlr commented on #46
@miogalang's solution worked for me, with a couple small modifications... Here is the updated version, for anyone in need.

[code]

I'm going to submit a pull request to the main project that does something along these lines, because this is something that at least until php is updated, should just work.

[2013-12-13 02:04] miogalang commented on #46
@habitullence heads up. The the gd problem has been fixed on the php side so there should be no more issues.
https://bugs.php.net/bug.php?id=64405

[2013-12-13 18:11] blackjid commented on #46
@miogalang the fix apply to any version of PHP or just new ones??

[2013-12-16 09:51] miogalang commented on #46
@blackjid I don't really know. sorry.

[2014-01-06 07:59] josegonzalez commented on #46
@mattheath any movement on this? It's definitely still happening to me on `5.4.17` :(.

[2014-01-13 15:35] josegonzalez commented on #46
I was able to fix it using the same hack as for zlib, except within my own project instead of forking puppet-php.

[2014-03-13 10:55] mattheath commented on #46
This should now be fixed by boxen/puppet-php#27. I'll pull into this repo and tag, but the boxen module should be considered the official fork :smile:

[2014-03-13 10:55] #46 closed, assigned to nobody

[2014-06-25 17:39] hussfelt commented on #46
@mattheath this seems to be back somehow. I can't seem track this error down either... :/

Running latest boxen, latest puppet-php...

Any ideas?

[code]

[2014-06-25 18:17] hussfelt commented on #46
Seems like I get the same error with PHP 5.5.13...

[code]

[2014-06-25 19:03] mattheath commented on #46
@hussfelt do you have any more output from the log on the machine? For example in the original error  on this issue the output was:

[code]

with an error of:

[code]

Is yours the same freetype error? If not could you open a new issue please?

[2014-06-26 07:27] hussfelt commented on #46
@mattheath that's the thing - it exits with an uncaught exception... :-(
There is no extra data, not even running in debug mode. It just fails, just as in my first comment...

I am opening a new error. :)

[2014-06-26 07:28] hussfelt opened #52 "Error while configuring PHP 5.4.29/5.5.13"
Deferred from #46

Running latest boxen, latest puppet-php, latest of everything as of June 25th.

[code]

There is no extra data, not even running in debug mode. It just fails, and exits.

[2014-06-26 07:58] webflo commented on #52
Please try pull-request boxen/puppet-php#43

[2014-06-26 08:37] hussfelt commented on #52
@webflo testing now.
I forked your repo and tagged it and installed
https://github.com/hussfelt/puppet-php
`github "php",         "1.2.4" => :repo => "hussfelt/puppet-php"`

[2014-06-26 09:18] hussfelt commented on #52
@webflo @mattheath - seems to be working! :-)
It faild on the intl and xdebug extensions though, with the below error:

[code]

[code]

[2014-06-26 09:18] hussfelt commented on #52
Clarification: PHP works. It's installed even if the above fails. I also removed them temporarily from my manifest.

[2014-06-26 20:36] mattheath commented on #52
This is fixed in [boxen/puppet-php](https://github.com/boxen/puppet-php) [`1.2.4`](https://github.com/boxen/puppet-php/releases/tag/1.2.4).

@hussfelt I'd suggest using the Boxen fork which is now 'official' as my repo may not be up to date! :smile:

[2014-06-26 20:36] #52 closed, assigned to nobody

[2014-06-26 21:57] webflo commented on #52
@hussfelt and use the latest versions from intl (3.0.0) and xdebug (2.2.5)

[2014-06-27 10:09] hussfelt commented on #52
@mattheath I was using the official fork :) I just happened not to notice that I was in your repo ;-) Sorry!

@webflo Will do! Thanks for noticing! Great fix as well! :+1:

[2014-06-27 10:09] hussfelt commented on #52
@mattheath I was using it before forking from @webflo that is ;)

Thanks guys!

[2014-06-27 13:40] hussfelt commented on #52
Unfortunately I could not get xdebug/intl working anyway :/
Maybe I am doing something wrong.

Added issue hear instead: https://github.com/boxen/puppet-php/issues/44

[2014-07-19 12:06] nomasprime commented on #32
A temporary fix, for me at least, would be to stop this module overwriting php.ini every time boxen is run. Does anybody know how to do this?

[2014-07-21 08:28] webflo commented on #32
Put your own `php.ini` in `/opt/boxen/config/php/[version]/conf.d` all ini files in conf.d are automatically included and override previous defined config parameter. You don´t need a complete php.ini file, just override the parameters you need.

[2014-07-24 09:33] nomasprime commented on #32
@webflo I was thinking of using puppet to override the file with my own but didn't realise you could do this. Cleaner solution, thanks.

[2014-09-10 13:21] outrunthewolf opened #53 "No Clue"
I'm trying to use your boxen repo, I literally have no clue how it translates into my current setup. Any chance you can help or point me in the right direction.

Could be helpful for others, here is my project manifest:

[code]

How would I integrate PHP into this scenario?

[2014-10-01 21:05] clempat commented on #32
For the override solution using an personalised template:

[code]

with module base and file php.ini.erb

[2014-11-19 19:52] ivorisoutdoors commented on #53
@outrunthewolf Bottom section of the README

[code]

[2014-12-23 10:32] mattheath commented on #53
@outrunthewolf as @mloberg mentioned this should be covered at the bottom of the README - you can either copy this section of the manifest, or use it as an example to create your own puppet manifest.

[2014-12-23 10:32] #53 closed, assigned to nobody

[2015-05-28 16:25] outrunthewolf opened #59 "Error: Could not set 'present' on ensure"
Seem to get this no matter what version i'm installing.

[code]

If I can give you any more information please let me know. Unfortunately I havent a clue where to start looking to fix this. Could be my setup though.

[2016-03-30 21:29] henscu commented on #59
@outrunthewolf , I've just got this exact same error with the latest Boxen.

Did you ever find a fix or workaround for it?

[2018-09-26 05:05] #28 closed